language: python
python:
    - 2.7
    - 3.5
    - 3.6
matrix:
    include:
        - python: "3.7"
          dist: xenial
        - python: "3.6"
          name: "flake8"
          install:  pip install -U flake8
          script: flake8 --doctests src setup.py
before_install:
    - pip install -U setuptools
    - pip install zc.buildout
    - pip install coveralls coverage
install:
    - buildout bootstrap
    - buildout
script:
    - coverage run bin/test --all -v
after_success:
    - coveralls
notifications:
    email: false
cache:
  pip: true
  directories:
    - eggs/
