language: python
sudo: false
python:
    - 2.7
    - 3.5
    - 3.6
env:
install:
    - pip install -U setuptools
    - pip install zc.buildout
    - pip install coveralls coverage
    - buildout bootstrap
    - buildout
script:
    - coverage run bin/test --all -v
after_success:
    - coveralls
notifications:
    email: false
cache:
  pip: true
  directories:
    - eggs/
