include *.py
include *.rst
include *.txt
include buildout.cfg
include tox.ini

include *.yml
exclude *.yml

include .gitignore
exclude .gitignore

exclude MANIFEST.in

recursive-include src *.pt
recursive-include src *.zcml
